/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}
body{margin:0;font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;font-size:14px;line-height:20px;color:#333;background-color:#fff}
/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

a {
  text-decoration: none;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/*	=========================================================================================
	behavior for touch-based browsing in Internet Explorer 10 on devices running Windows 8.
    ========================================================================================= */
canvas {
    -ms-touch-action: double-tap-zoom;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
.ext-ie .x-menu-item-icon {left: -24px;}
.ext-strict .x-menu-item-icon {left: 3px;}

.center {text-align: center;}
.padtop10 { margin-top:10px; }

.well {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: whitesmoke;
  border: 1px solid #e3e3e3;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

.well .well-title {
	height: 50px;
	line-height: 50px;
	font-size: 14px;
	font-weight: 700;
	border-bottom: 1px solid #e4e4e4;
	color: rgba(51, 86, 106, 0.5);
	text-transform: uppercase;
	text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.6), 0 0 1px rgba(0, 0, 0, 0.3);
}
.well ul {
	padding-bottom: 10px;
	padding-top: 10px;
	margin: 0;
	list-style: none;
}
.well ul li {
	padding: 0.1em 0;
	margin: 0 2em;
}
.well ul li ul{
	list-style:circle;
}
.well strong, .caption strong {font-weight: 600;}

.required .x-form-item-label {font-weight:bold;color:red;}

ul.menu{
	float:left;width:930px;height:25px;
	background:transparent url(/js/ext-3.3.0/resources/images/gray-extend/bg/menu-tabbed-ef56d2.png) repeat-x bottom left;
}
ul.menu li{
	float:left;
	text-align:center;
	color:#048fc2!important;
	padding:4px 15px;
	border:solid 1px #e8e8e8!important;
	border-bottom:0;
	margin-right:2px;
	background:transparent url(/js/ext-3.3.0/resources/images/gray-extend/bg/document-bank-bg-71e47c.png) repeat-x 0 0;
}
ul.menu li.selected{
	float:left;
	text-align:center;
	border:solid 1px #d9d9d9;
	border-bottom-color:#FFF;
	background:#FFF;
	background-image:none;
}
ul.menu li.right{
	float:right;
	padding-left:28px;
}


#loading-mask {
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     background: #999999;
     z-index: 1;
}
#loading {
     position: absolute;
     top: 40%;
     left: 45%;
     z-index: 2;
}
#loading SPAN {
	background: url('../images/progress.gif') no-repeat top left;
	display: block;
	color:#666;
	padding-left:20px;
	padding:5px 0 20px 40px;
}

.x-form-helptext {
    font-size: 9px;
    color: #888;
}


.periodo-slider {
    /*width:214px;*/
    padding-top:8px;
    background-image:url(../images/ticks.gif)!important;
}
.periodo-slider .x-slider-thumb {
    background-image:url(../images/slider-thumb.png)!important;
}
.search-item{
	padding:5px 0;
	border-bottom:#333 dotted 1px;
}

.dvPublicacion {
    background-color: #fff;
    text-shadow: #fff 0 1px 0;
}

.dvPublicacion ul {
    position: relative;
    display: block;
    height: auto;
    font-size: 85%;
}

.dvPublicacion ul li img {
    margin-bottom: 1px;
}

.dvPublicacion ul li {
    float: left;
    padding: 8px 7px;
    margin: 5px;
/*    margin: 10px 0 0 25px;*/
    text-align: center;
    line-height: 1.25em;
    color: #333;
    font-family: "Helvetica Neue",sans-serif;
    height: 136px;
    width: 102px;
    overflow: hidden;
    border-top: 1px solid transparent;
    cursor: pointer;
}

/*.dvPublicacion ul li.phone-hover {
    background-color: #eee;
}*/

.dvPublicacion ul li.x-view-selected {
    background-color: rgba(100, 100, 100, .15);
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-top: 1px solid rgba(0, 0, 0, .15);
}

.dvPublicacion ul li img {
/*    display: block;*/
}

.dvPublicacion li strong {
    color: #000;
    display: block;
}

.dvPublicacion li span {
    color: #999;
}


.highlight{color: #F00;font-weight:bold;}
.highlight_important{color: #F00; font-weight:bold;}

.bgblue{
	padding:10px;
}
.bgred{
	padding:10px;
	background-image: url("../images/fondo_rojo.jpg");
}
.bgredBtn{
	background-image: url("../images/fondo_rojo.jpg");
}


/*Contenedor inicial ingreso producto-pais*/
.mainbar{
	background:#eee url("../images/main-back.png") repeat;
	border-left: 1px solid #ccc;
}

.mainbar .container{
	width: 100%;
	padding: 0px !important
}


.mainbar .page-head{
  background-color: #f8f8f8;
  background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f2f2f2));
  background: -webkit-linear-gradient(top, #f8f8f8, #f2f2f2);
  background: -moz-linear-gradient(top, #f8f8f8, #f2f2f2);
  background: -ms-linear-gradient(top, #f8f8f8, #f2f2f2);
  background: -o-linear-gradient(top, #f8f8f8, #f2f2f2);
  background: linear-gradient(top, #f8f8f8, #f2f2f2);
  padding: 8px 20px;
  border-bottom: 1px solid #fff;
  box-shadow: inset 0px 1px 1px #fff;
}

.mainbar .page-head h2{
	font-weight: normal;
	font-size: 20px;
}

/* Matter */

.mainbar .matter{
	border-top: 1px solid #ddd;
	padding: 15px 0px;
}

.widget {
  border: 1px solid #c9c9c9;
  border-radius: 3px;
  margin-top: 10px;
  margin-bottom: 20px; 
  background: #fafafa url('../images/cream.png') repeat;
}

.widget .widget-head{
  background-color: #f8f8f8;
  background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f2f2f2));
  background: -webkit-linear-gradient(top, #f8f8f8, #f2f2f2);
  background: -moz-linear-gradient(top, #f8f8f8, #f2f2f2);
  background: -ms-linear-gradient(top, #f8f8f8, #f2f2f2);
  background: -o-linear-gradient(top, #f8f8f8, #f2f2f2);
  background: linear-gradient(top, #f8f8f8, #f2f2f2);	
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  text-shadow:0px 1px #fff;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #fff;
	color: #666;
	font-size: 13px;
	font-weight: bold;
    padding: 8px 15px;
}

.widget .padd{
	padding: 13px 15px;
}

/* Today datas */

.today-datas{
	list-style-type: none;
	padding: 0px;
	margin: 10px 0px;
}

.today-datas li{
	display: inline-block;
	margin-bottom: 5px;
	margin-right: 10px;
    padding: 10px 20px;
  background-color: #f8f8f8;
  background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f2f2f2));
  background: -webkit-linear-gradient(top, #f8f8f8, #f2f2f2);
  background: -moz-linear-gradient(top, #f8f8f8, #f2f2f2);
  background: -ms-linear-gradient(top, #f8f8f8, #f2f2f2);
  background: -o-linear-gradient(top, #f8f8f8, #f2f2f2);
  background: linear-gradient(top, #f8f8f8, #f2f2f2);	
  background: #f8f8f8 url("../images/cream.png") repeat;
  text-shadow:0px 1px #fff;
  border: 1px solid #ccc;
  box-shadow: inset 0px 0px 3px #fff;
  max-width: 100%;
  text-align: center;
}

.today-datas li .datas-text{
	font-size: 11px;
	padding: 7px 0px 0px 0px;
	font-weight: normal;
}




.bg3{
	/*background: #000 url('../images/bg3.jpg') no-repeat top center;*/
	height:100%;	
	 background-image: url('../images/fondo_top_azul.jpg');
    background-repeat: no-repeat;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;	
}
.main-container {
	position:relative;
}
.main-container .container {
	padding:30px;
}
.alignCenter {
  float: none;
  margin: 0 auto;
}
#intro h1 {
	color:#fff;
	font-weight:300;
	font-size:50px;
	text-align:center;
	line-height:55px;
	text-shadow:0 1px 1px rgba(0,0,0,0.6);
	margin:20px;
}
#intro h2 {
	color:#dadada;
	font-weight:200;
	font-size:30px;
	text-align:center;
	line-height:35px;
	text-shadow:0 1px 1px rgba(0,0,0,0.6);
	margin-bottom:10px;
}
#intro h3 {
	font-size: 18px;
	line-height: 40px;
	color: #FFFFFF;
}
#intro p {
	padding:15px 0;
	color:#fff;
	font-size: 18px;
}
.btn-purple {
	background-color:hsl(342,63%,34%)!important;
	background-repeat:repeat-x;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#d54872",endColorstr="#8d2040");
	background-image:-khtml-gradient(linear,left top,left bottom,from(#d54872),to(#8d2040));
	background-image:-moz-linear-gradient(top,#d54872,#8d2040);
	background-image:-ms-linear-gradient(top,#d54872,#8d2040);
	background-image:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#d54872),color-stop(100%,#8d2040));
	background-image:-webkit-linear-gradient(top,#d54872,#8d2040);
	background-image:-o-linear-gradient(top,#d54872,#8d2040);
	background-image:linear-gradient(#d54872,#8d2040);
	border-color:#8d2040 #8d2040 hsl(342,63%,28.5%);
	color:#fff!important;
	text-shadow:0 -1px 0 rgba(0,0,0,0.36);
	-webkit-font-smoothing:antialiased;
}
.btn-xlarge {
	padding:20px 40px;
	font-size:25px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
}

/*************************************************** ayuda reportes ****************************************************************/
@import url(http://fonts.googleapis.com/css?family=Open+Sans);#top-nav{height:45px;padding-right:10px;background-color:#fff;white-space:nowrap;min-width:310px;border-bottom:1px solid #f2f2f2}
.timeline-wrapper{position:relative;padding-left:10px;margin-bottom:20px}
.timeline-wrapper:before{content:'';display:block;position:absolute;left:40px;top:0;bottom:0;border:solid #e2e3e7;background-color:#e7eaef;width:4px}
.timeline-wrapper .timeline-start{position:relative;display:inline-block}
.timeline-wrapper .timeline-icon{width:40px;height:40px;text-align:center;border-radius:50em;-moz-border-radius:50em;-webkit-border-radius:50em;margin:0 auto;font-size:20px;line-height:40px}
.timeline-wrapper .timeline-info{position:relative;float:left;width:65px;text-align:center}
.timeline-wrapper .time{margin-top:10px;background:#fff;border:1px solid #f1f5fc;padding:5px;border-radius:2px;-moz-border-radius:2px;-webkit-border-radius:2px;color:#999;box-shadow:1px 1px 1px rgba(0,0,0,.05);-moz-box-shadow:1px 1px 1px rgba(0,0,0,.05);-webkit-box-shadow:1px 1px 1px rgba(0,0,0,.05)}
.timeline-wrapper .timeline-panel{background:#fff;margin-left:75px;border:1px solid #f1f5fc}
.timeline-wrapper .timeline-panel img{width:200px}
.timeline-wrapper .timeline-date{display:inline-block;position:relative;margin-top:10px;background:#3c8dbc;border:1px solid #3c8dbc;padding:5px;border-radius:2px;-moz-border-radius:2px;-webkit-border-radius:2px;color:#fff;box-shadow:1px 1px 1px rgba(0,0,0,.05);-moz-box-shadow:1px 1px 1px rgba(0,0,0,.05);-webkit-box-shadow:1px 1px 1px rgba(0,0,0,.05);margin-bottom:20px;font-weight:700}
.timeline-wrapper .timeline-desc{display:inline-block;position:relative;margin-top:10px;background:#3c8dbc;border:1px solid #3c8dbc;padding:5px;border-radius:2px;-moz-border-radius:2px;-webkit-border-radius:2px;color:#fff;box-shadow:1px 1px 1px rgba(0,0,0,.05);-moz-box-shadow:1px 1px 1px rgba(0,0,0,.05);-webkit-box-shadow:1px 1px 1px rgba(0,0,0,.05);margin-bottom:20px;font-weight:700}
.bg-white{background-color:#fff}
.bg-light{background-color:#f1f5fc}
.bg-dark{background-color:#222}
.bg-grey{background-color:#eee;text-shadow:0 1px #fff}
.bg-primary{background-color:#504f63;color:#BECFDF}
.bg-primary a{color:#BECFDF}
.bg-primary a:focus,.bg-primary a:hover{color:#fff}
.bg-warning{background-color:#ffc545;color:#fff}
.bg-info{background-color:#4dd4fd;color:#fff}
.bg-success{background-color:#9ad268;color:#fff}
.bg-header{background-color:#3366cc;color:#fff}
.bg-danger{background-color:#fe402b!important;color:#fff!important}
.panel.panel-default{border-color:#f1f5fc}
.panel.panel-default .panel-heading+.panel-collapse .panel-body{border-top-color:#f1f5fc}
.panel.panel-default .panel-heading{background:#fff;color:#777;border-color:#f1f5fc}
.panel.panel-default .panel-title a{font-size:12px}
.panel.panel-default .panel-title a:focus,.panel.panel-default .panel-title a:hover{text-decoration:none;color:#aaa}
.panel.panel-default .panel-footer{background:#fff;border-color:#f1f5fc;color:#777}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 100%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}


.padded {padding: 15px 30px;}
.padded10 {padding: 10px;}
.marginr20{margin-right:20px;}


@media (max-width: 979px) {
	.well .well-title{
		font-size: 12px;
	}
}

@media (max-width: 767px) {	
  .well .well-title{
		font-size: 8px;
	}
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min-resolution: 144dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow:none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
